<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h3><%= link_to post.title, post_path(post) %></h3>
      <h6><%= link_to post.category.name, post.category %> by <%= link_to post.user.username, post.user %></h6>
    </div>
    <div class="col-xs-4">

      <%= form_for cart_item, remote: true do |f| %>
        <h4 class="text-right">Item Price: <span style="color: green"><%= number_to_currency cart_item.item_price %></span></h4>
        <div class="row">
          <div class="col-xs-4">
            <%= f.number_field :quantity, value: cart_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :post_id, value: post.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= f.submit "Update Quantity", class: "btn btn-primary" %>
              <%= link_to "Delete", cart_item, { data: { confirm: "Are you sure you want to delete '#{cart_item.post.title}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency cart_item.total_price %></span></h4>
      <% end %>
    </div>

  </div>
</div>