<div class="wrapper">
<div class="new-post-btn">
  <% if can? :crud, Post %>
    <%= link_to "New post", new_post_path, class: "btn btn-default new-post-btn"%>
    <% end %>
    </div>

      <div class="col">
      <% @posts.each do |post| %>
      <div class="post-container">
        <%= form_for @cart_item, remote: true do |f| %>
          <div class="post-content">
            <div class="text-center">
              <div class="post-title">
                <h2 style="text-align: center"><%= link_to post.title, post_path(post), style: "color: black" %></h2>
                  </div>
                  <h6><%= link_to Category.find(post.category_id).name, category_path(post.category_id) %> by <%= link_to post.user.username, post.user %> on: <%= post.created_at.strftime('%b %d, %Y') %></h6>
                </div>
                <div class="post-image-index">
                  <% if post.image? %>
                    <div class="media">
                      <div class="media-left">
                        <%= link_to image_tag(post.image.url(:medium), class: 'media-object'), post.image.url, class:"img-rounded", target: '_blank' %>
                        <% if can? :crud, Post %>
                          <%= link_to "Remove image", delete_post_image_path(post), data: { confirm: 'Are you sure you want to remove this image?' }, class: "btn btn-danger btn-xs" %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
                &nbsp;

                <div class="post-body">
                  <%= raw(post.body).truncate(358) %>
                </div>
                <% if post.body.size > 358 %>
                <div class="text-center">
                  <%= link_to "READ MORE", post_path(post), class: "btn btn-sm"%>
                </div>
                <% end %>
                <div class="add-to-cart-btn">
                  <h4 class="text-right">Price:
                  <% if post.price.nil? %>
                    <span style="color: green">Free</span></h4>
                  <% else %>  
                    <span style="color: green"><%= number_to_currency post.price %></span></h4>
                  <% end %>
                  <div class="input-group">
                    <%= f.number_field :quantity, value: 1, class: "form-control", min: 1, style: "width: 50px; float: right" %>
                    <div class="input-group-btn">
                      <%= f.hidden_field :post_id, value: post.id %>
                      <%= f.submit "Add to Cart", class: "btn btn-primary" %>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="post-buttons">
                <div class="post-buttons-left" style="float: left">
                <% if can? :crud, post %>
                  <%= link_to "Edit", edit_post_path(post), class: "btn btn-default btn-sm" %>
                  <%= link_to "Delete", post_path(post),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"%>
                  <% end %>
                    </div>
                  <div class="post-buttons-right" style="float: right">
                      <div class="comment-button" style="float: right">
                        <%= link_to post_path(post, anchor: "comment-section"), class: "btn btn-default btn-sm", title: "Show comments" do %>
                        <span class="glyphicon glyphicon-comment" style="color: grey"></span>
                        <%= post.comments.count %>
                      <% end %>
                      </div>
                      <div class="favorite-button" style="float: right">
                      <% if current_user %>
                        <% if post.favorited_by.exists?(current_user.id) %>
                          <%= link_to favorite_post_path(post, type: "unfavorite"), method: :put, class: "btn btn-default btn-sm", title: "Remove from favorites" do %>
                          <span class="glyphicon glyphicon-star" style="color: #ffbb33"></span>
                          <% end %>
                        <% else %>
                          <%= link_to favorite_post_path(post, type: "favorite"), method: :put, class: "btn btn-default btn-sm", title: "Add to favorites" do %>
                          <span class="glyphicon glyphicon-star" style="color: grey"></span>
                          <% end %>
                        <% end %>
                      <% end %>
                    <!-- form_for cart_item -->
                    <% end %>
                    </div>
                </div>
            </div>
            <br>
            </div>
    <% end %>
    </div>
</div>