<div class="wrapper">
    <%= link_to "New post", new_post_path, class: "btn btn-default new-post-btn"%>
    <div class="post-container">
    <% @posts.each do |post| %>
    <div class="col-xs-12">
    <div class="post-content">
      <div class="text-center">
        <h2><%= link_to post.title, post_path(post), style: "color: black" %></h2>
        <h6>Posted on: <%= post.created_at.strftime('%b %d, %Y') %></h6>
        <%= link_to Category.find(post.category_id).name, category_path(post.category_id) %>
      </div>

      <div class="post-body">
        <%= raw(post.body).truncate(358) %>
      </div>

      <div class="text-center">
        <%= link_to "READ MORE", post_path(post), class: "btn btn-sm"%>
      </div>
      <hr>
      <div class="post-buttons">
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-default btn-sm" %>
        <%= link_to "Delete", post_path(post),
          method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"%>
      </div>
      </div>
      </div>
      <br>
      &nbsp;
    <% end %>
  </div>
</div>