<div class="wrapper">
	<div class="container">
		<div class="content-section">
			<div class="post-header">
			<h1><%= @post.title %></h1>
			<h5><%= @post.category.name %> by <%= link_to @post.user.username, user_path(@post.user) %></h5>
			<h6>On <%= @post.created_at.strftime('%b %d, %Y at %H:%M') %></h6>
			</div>
			<hr>
			<% if @post.image? %>
				<div class="media">
					<div class="media-left">
						<%= link_to image_tag(@post.image.url(:medium), class: 'media-object'), @post.image.url, class:"img-rounded", target: '_blank' %>
						<%= link_to "Remove image", delete_post_image_path, data: { confirm: 'Are you sure?' } %>
					</div>
				</div>
			<% end %>
			<%= raw @post.body %>
			<hr>
			<% if can? :crud, Comment %>
			<div id="comment-section" class="comment-section-post">
				<h6>Add a comment</h6>
				<%= render partial: "comments/form", locals: {commentable: @post} %>
			</div>
			<% end %>
			<div class="comment-section-post">
				<h6>Comments</h6>
				<%= render partial: "comments/comments", locals: {commentable: @post} %>
			</div>
			<div class="show-post-buttons">
				<%= link_to "Back", posts_path, class: "btn btn-default btn-sm" %>
				<% if can? :crud, @post %>
					<%= link_to "Edit", edit_post_path, class: "btn btn-default btn-sm" %>
					<%= link_to "Delete", post_path(@post),
						method: :delete,
						data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
				<% end %>
			</div>
		</div>
	</div>
</div>