<html>

<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Welcome to Catalog</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- Custom style -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/landing_page.scss">
    <!-- <link rel="stylesheet" type="text/css" href="/assets/stylesheets/landing_media.css"> -->

</head>

<body>

    <header>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed menu_btn" data-toggle="collapse" data-target="#top_menu">
                        </button>

                        <%= link_to "Catalog", posts_path, class: "logo"%>
                    </div>

                    <div class="collapse navbar-collapse navbar-right" id="top_menu">
                        <ul class="menu">
                            <li><a href="#">link</a></li>
                            <li><a href="#">link</a></li>
                            <li><a href="#">link</a></li>
                            <li><a href="#">link</a></li>
                            <li><a href="#">link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="title-block">
                            <h1>Buy &amp; Sell Online Easily with Catalog!</h1>
                            <p>Anything goes here</p>
                            <button class="btn btn-default outline">whatever</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <section class="general-info">
        <div class="container">
            <div class="row top-row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <%= image_tag "gi_1.png", class: "general-info-image" %>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="gi-text-block">
                        <h1>AWESOME DESIGN</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                        <button class="btn btn-default">Learn more</button>
                    </div>
                </div>
            </div>
            <div class="row bottom-row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="gi-text-block">
                        <h1>RESPONSIVE TEMPLATE</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                        <button class="btn btn-default">Learn more</button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div>
                        <%= image_tag "gi_2.png", class: "general-info-image" %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="more-info">
        <div class="container top-container">
            <div class="row top-row">
                <div class="col-md-12">
                    <div class="top-text-block">
                        <h3>MORE FEATURES</h3>
                        <p>The best stuff we could ever make</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bottom-container">
            <div class="row bottom-row">
                <div class="col-md-4">
                    <div class="left-text-block">
                        <h4>RESPONSIVE DESIGN</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                    </div>
                    <div class="left-text-block">
                        <h4>COOL EFFECTS</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-block">
                        <%= image_tag "mi_1.png", class: "more-info-image" %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-text-block">
                        <h4>LOCATION SERVICE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                    </div>
                    <div class="right-text-block">
                        <h4>EXPERIMENTAL STUFF</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="screenshots">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-block">
                        <h3>SCREENSHOTS</h3>
                        <p>Check how this app looks like, it’s modern and cool</p>
                    </div>
                </div>
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </section>

    <section class="video-preview">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block">
                        <button class="btn btn-play"><%= fa_icon "play", class: "fa-4x play-icon" %></button>
                        <h3>Video preview</h3>
                        <p>Click the play button to see our app's video preview Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="describe">
        <div class="container top-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-text-block">
                        <h3>DESCRIBE</h3>
                        <p>This is how our app works!</p>
                    </div>
                </div>
            </div>
                <div class="row top-row">
                    <div class="col-md-4">
                        <div class="content">
                            <div class="icon">
                                <%= fa_icon "microphone", class: "describe-icon fa-2x" %>
                            </div>
                            <div class="text-block">
                                <h4>RECORD ANYTHING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content">
                            <div class="icon">
                                <%= fa_icon "video-camera", class: "describe-icon fa-2x" %>
                            </div>
                            <div class="text-block">
                                <h4>TAKE AWESOME VIDEOS</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content">
                            <div class="icon">
                                <%= fa_icon "users", class: "describe-icon fa-2x" %>
                            </div>
                            <div class="text-block">
                                <h4>SOCIAL FUN</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="container middle-container">
                <div class="row middle-row">
                    <div class="col-md-6">
                        <div class="content">
                            <div class="icon">
                                <%= fa_icon "sun-o", class: "describe-icon fa-2x" %>
                            </div>
                            <div class="text-block">
                                <h4>WEATHER FORECAST</h4>
                                <p>Eu apeirian probatus scriptorem mea. Usu ea unum congue suavitate, no oratio blandit eos, lorem ipsum dolor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content">
                            <div class="icon">
                                <%= fa_icon "line-chart", class: "describe-icon fa-2x" %>
                            </div>
                            <div class="text-block">
                                <h4>ANALYTICS READY</h4>
                                <p>Eu apeirian probatus scriptorem mea. Usu ea unum congue suavitate, no oratio blandit eos, lorem ipsum dolor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container bottom-container">
                <div class="row bottom-row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <%= image_tag "dc_1.png", class: "describe-image" %>
                    </div>
                </div>
            </div>
    </section>

    <section class="statistics">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <div class="icon">
                            <%= fa_icon "paw", class: "statistics-icon fa-5x" %>
                        </div>
                        <div class="text-block">
                            <h4>8 Awards</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <div class="icon">
                            <%= fa_icon "th-list", class: "statistics-icon fa-5x" %>
                        </div>
                        <div class="text-block">
                            <h4>15.2K Reviews</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <div class="icon">
                            <%= fa_icon "users", class: "statistics-icon fa-5x" %>
                        </div>
                        <div class="text-block">
                            <h4>50K+ Active Users</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <div class="icon">
                            <%= fa_icon "cloud-download", class: "statistics-icon fa-5x" %>
                        </div>
                        <div class="text-block">
                            <h4>25M+ Downloads</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-block top-text-block">
                        <h3>TESTIMONIALS</h3>
                        <p>What they say about our app</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="content">
                                <div class="icon">
                                    <%= fa_icon "comments", class: "statistics-icon fa-2x" %>
                                </div>
                                <div class="text-block content-text-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                                </div>
                                <div class="feedback-person-image">

                                </div>
                                <div class="feedback-person-name">
                                    <h4>MARK DOE</h4>
                                    <p>Mobile developer</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                          <div class="content">
                                <div class="icon">
                                    <%= fa_icon "comments", class: "statistics-icon fa-2x" %>
                                </div>
                                <div class="text-block content-text-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                                </div>
                                <div class="feedback-person-image">

                                </div>
                                <div class="feedback-person-name">
                                    <h4>THOMAS DOE</h4>
                                    <p>Co-Founder @ Winniedows</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                          <div class="content">
                                <div class="icon">
                                    <%= fa_icon "comments", class: "statistics-icon fa-2x" %>
                                </div>
                                <div class="text-block content-text-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                                </div>
                                <div class="feedback-person-image">

                                </div>
                                <div class="feedback-person-name">
                                    <h4>JOHN DOE</h4>
                                    <p>CEO at Apply</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                          <div class="content">
                                <div class="icon">
                                    <%= fa_icon "comments", class: "statistics-icon fa-2x" %>
                                </div>
                                <div class="text-block content-text-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio quam, sodales vitae faucibus vitae, gravida quis nibh. Pellentesque dictum, felis vitae feugiat dapibus</p>
                                </div>
                                <div class="feedback-person-image">

                                </div>
                                <div class="feedback-person-name">
                                    <h4>SARAH DOE</h4>
                                    <p>Web designer</p>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </section>

    <section class="download">
        <div class="container top-container">
            <div class="row top-row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="text-block top-text-block">
                        <h2>Download our app now</h2>
                    </div>
                </div>
            </div>
            <div class="row dl-btns-row">
                <div class="col-md-1 col-md-offset-3 col-sm-12">
                    <button class="btn btn-download">
                        <p class="btn-dl-p"><%= fa_icon "apple", class: "download-button-icon fa-lg" %>&nbsp;App Store</p>
                    </button>
                </div>
                <div class="col-md-1 col-md-offset-1 col-sm-12">
                    <button class="btn btn-download">
                        <p class="btn-dl-p"><%= fa_icon "android", class: "download-button-icon fa-lg" %>&nbsp;Play Store</p>
                    </button>
                </div>
                <div class="col-md-1 col-md-offset-1 col-sm-12">
                    <button class="btn btn-download">
                        <p class="btn-dl-p"><%= fa_icon "windows", class: "download-button-icon fa-lg" %>&nbsp;Windows</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="container bottom-container">
            <div class="row middle-row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="text-block">
                        <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                    </div>
                </div>
            </div>
            <div class="row bottom-row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-block">
                        <form>
                          <div class="input-group">
                            <input type="text" class="form-control form-no-border" placeholder="Enter your email">
                            <div class="input-group-btn">
                              <button class="btn btn-no-border" type="submit">
                                <h4>GET IN</h4>
                              </button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section class="get-in-touch">
        <div class="container">
            <div class="row top-row">
                <div class="col-md-12">
                    <div class="text-block">
                        <h4>GET IN TOUCH</h4>
                        <p>If you've got any question or feedback, just drop us a line</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="name">
                      </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="email">
                      </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="subject">
                      </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form>
                      <div class="input-group">
                        <textarea class="form-control" rows="5" id="comment" placeholder="message"></textarea>
                      </div>
                    </form>
                </div>
            </div>
            <div class="row bottom-row">
                <div class="col-md-12">
                    <div class="text-block bottom-text-block">
                        <button class="btn btn-default get-in-touch-button">
                            <p>Send</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-block top-text-block">
                        <p>Taras Misyurak &copy; 2017, All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <div class="text-block">
                        <div class="icons">
                            <%= fa_icon "facebook", class:"footer-fa-icon fa-2x" %>
                            <%= fa_icon "twitter", class:"footer-fa-icon fa-2x" %>
                            <%= fa_icon "google-plus", class:"footer-fa-icon fa-2x" %>
                            <%= fa_icon "vk", class:"footer-fa-icon fa-2x" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>